body {
    margin: 0;
    display: flex;
    background: #f4f4f4;
}

.main-content{
    background-image: url('bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    height: 80vh;
}

.sidebar {
    width: 300px;
    background: #ffffff;
    padding: 20px;
    height: 100vh;
    border-right: 2px solid #ddd;
}

.add-btn {
    padding: 10px 15px;
    background: #28c55f;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;
}

.add-btn:hover {
    background: #1e9d4b;
}

.main-content {
    padding: 20px;
    flex: 1;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    width: 400px;
    padding: 20px;
    border-radius: 10px;

    max-height: 90vh;      
    overflow-y: auto;      
}

.close {
    float: right;
    font-size: 22px;
    cursor: pointer;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.exp-btn {
    background: #f2a829;
    color: white;
    padding: 6px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
}

.save-btn {
    width: 100%;
    padding: 10px;
    background: #28c55f;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

.save-btn:hover {
    background: #1e9d4b;
}


.experience-item {
    margin-bottom: 20px;
    padding: 10px;
    background: #f7f7f7;
    border-radius: 6px;
}

.button {
    margin: 20px;
}
