body {
    margin: 0;
    display: flex;
    background: #f4f4f4;
}

.main-content{
    background-image: url('bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    height: 80vh;

}

.sidebar {
    width: 300px;
    background: #ffffff;
    padding: 20px;
    height: 100vh;
    border-right: 2px solid #ddd;
}

.add-btn {
    padding: 10px 15px;
    background: #28c55f;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;
}

.add-btn:hover {
    background: #1e9d4b;
}

.main-content {
    padding: 20px;
    flex: 1;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    width: 400px;
    padding: 20px;
    border-radius: 10px;

    max-height: 90vh;      
    overflow-y: auto;      
}

.close {
    float: right;
    font-size: 22px;
    cursor: pointer;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.exp-btn {
    background: #f2a829;
    color: white;
    padding: 6px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
}

.save-btn {
    width: 100%;
    padding: 10px;
    background: #28c55f;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

.save-btn:hover {
    background: #1e9d4b;
}


.experience-item {
    margin-bottom: 20px;
    padding: 10px;
    background: #f7f7f7;
    border-radius: 6px;
}

.button {
    margin: 20px;
}



.rooms{
    width: 100%;
    height: 100%;
    padding: 11px;
    display: grid;

    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    ". item1 . . . item2 . item3"
    ". item4 . . . . . ."
    ". . . . . item5 . item6"
    ;
 

}

.item1 {grid-area: item1;}
.item2 {grid-area: item2;}
.item3 {grid-area: item3;}
.item4 {grid-area: item4;
        padding-top: 70px;        
}
.item5 {grid-area: item5;}
.item6 {grid-area: item6;}

.item1, .item2, .item3, .item4, .item5, .item6{
    color: black;
    font-weight: bold;
}


.plus {
    background-color: #3b82f6;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    font-size: 26px;
    border: none;
    transition: 0.2s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.plus:hover {
    background-color: #2563eb;
}

.plus:active {
    transform: scale(0.9);
}


